$black-color: #000000;
$white-color: #ffffff;
$gray-color: gray;
$pink-color: #e8638e;
$pink-light-color: #ef9a92;
$blue-dark-color: #3b5998;

$red-color: #d95853;
$gray-light-color: #c5c4be;
$silver-color: #e9eaef;
$green-color: #4b9d86;
$yellow-color: #e9d489;
